.font1{
font-family:'Poppins',sans-serif;
font-size:40px;
}

.font2{
font-family:'Roboto',sans-serif;
font-size:2rem;
text-align:center;
}

.font3{
font-family:'Oswald',sans-serif;
font-size:150%;
}

.upper{
text-transform:uppercase;
}

.capitalize{
text-transform:capitalize;
}

.shadow{
text-shadow:3px 3px 6px gray;
}

.spacing{
letter-spacing:3px;
word-spacing:10px;
line-height:1.8;
}
